In [1]:
# Define the function "say_hello" so it prints "Hello!" when called.
def print_hello():
    print("Hello!")
#Call the function
print_hello()

Hello!

In [11]:
# Define the function "say_something" so it prints whatever is passed as the variable when called.
def say_something(something):
    print(something)
say_something("Hello World")

Hello World

In [12]:
Jane_says="Hi,I am Jane!I love icecream"
say_something(Jane_says)

Hi,I am Jane!I love icecream

In [14]:
# Define a function that calculates the percentage of students that passed both # math and reading and prints the passing percentage to the output when the function is called.
def passing_math_percentage(pass_math_count, student_count):
    return pass_math_count/float(student_count)*100

In [15]:
pass_math_count=29370
student_count=39170
passing_math_percentage(pass_math_count, student_count)

74.9808526933878

In [16]:
# A list of my grades
my_grades=['B', 'C', 'B', 'D']
# Import pandas.# Convert the my_grades to a Series
import pandas as pd
my_grades=pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [18]:
# Change the grades by one letter grade.
my_grades1=my_grades.map({'B':'A', 'C':'B', 'B':'A', 'D':'C'})
my_grades1

0    A
1    B
2    A
3    C
dtype: object

In [19]:
# Using the format() function.
my_grades = [92.34, 84.56, 86.78, 98.32]
for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

In [20]:
# Convert the numerical grades to a Series.
my_grades=pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [21]:
# Format the grades to the nearest whole number percent.
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object

In [27]:
class cat:
    def _init_(self,name):
        self.name=name

        
first_cat=cat("Felix")
print(first_cat.name)

TypeError: cat() takes no arguments